html,
body {
  height: 100%;
  width: 100%;
  background: whitesmoke;
  margin: 0;
}

nav{
    background-color: lightblue;
}

.col-md-8{
    max-height:800px;
    overflow:auto;
}

#profile-icon{
  font-size: 30px;
  margin-top: 8px;
}

h5{
  display: inline-block;
}