<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TT Social</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Main styles from Blog Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'socialwebsite/css/main.css' %}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if user.is_authenticated %}
                    <a class="text-muted">Welcome, {{ user.username }}</a>
                {% else %}
                    <a class="text-muted" href="{% url 'accounts:login' %}">Subscribe</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{% url 'home' %}">TT Bike Social</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
                {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:signup' %}">Sign up</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% if user.is_authenticated %}
                <a class="p-2 text-muted" href="{% url 'posts:create' %}">Create Post</a>
                <a class="p-2 text-muted" href="{% url 'groups:all' %}">Groups</a>
                <a class="p-2 text-muted" href="{% url 'groups:create' %}">Create Groups</a>
                <a class="p-2 text-muted" href="{% url 'posts:for_user' username=user.username %}">My Posts</a>
                <a class="p-2 text-muted" href="{% url 'posts:all' %}">All post</a>
                <a class="p-2 text-muted" href="{% url 'posts:all' %}">Politics</a>
                <a class="p-2 text-muted" href="#">Opinion</a>
                <a class="p-2 text-muted" href="#">Science</a>
                <a class="p-2 text-muted" href="#">Health</a>
                <a class="p-2 text-muted" href="#">Style</a>
                <span class="glyphicon glyphicon-th-list" id="profile-icon"></span>
            {% else %}
                <a class="p-2 text-muted" href="{% url 'groups:all' %}">Groups</a>
                <a class="p-2 text-muted" href="/">Culture</a>
                <a class="p-2 text-muted" href="#">Business</a>
                <a class="p-2 text-muted" href="#">Politics</a>
                <a class="p-2 text-muted" href="#">Opinion</a>
                <a class="p-2 text-muted" href="#">Science</a>
                <a class="p-2 text-muted" href="#">Health</a>
            {% endif %}
        </nav>
    </div>
</div>
<div class="container mycontent">
        {% block content %}
        {% endblock %}
</div>
<footer class="blog-footer">
      <p class="footer">Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@christianprec</a>.</p>
      <p class="footer">
        <a href="#">Back to top</a>
      </p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'socialwebsite/js/master.js' %}"></script>
</html>