<div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
            {{ post.created_at }}</a> by <a href="{% url 'posts:all' %}">@{{ post.user.username }}</a></p>
			{% if post.group %}
			<span class="group-name">in {{ post.group.name }}</span>
			{% endif %}
        <p>{{ post.message_html|safe }}</p>

		<div class="media-footer">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a>
			{% endif %}
		</div>
</div>

